* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main {
    background: rgba(255, 144, 14, 0.10);
    margin: 0 auto;
}

.header {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header h1 {
    font-size: 45px;
    font-weight: 900;
    color: #0c0804;
}

.header h1 span {
    color: #B9877B;
}

.nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: #424242;
    padding: 10px 15px;

}

.nav-list a:hover {
    background: rgba(255, 144, 14, 0.5);
    color: #fff;
}

/* header for phone  */
@media screen and (max-width: 479px) {
    .header {
        /* flex-direction: column; */
        /* align-items: center; */
        gap: 8px;
        padding: 10px 5;
    }

    .nav-list {
        flex-direction: row;
        width: 100%;
    }

    .nav-list a {
        width: 100%;
        text-align: center;
        padding: 8px 5px;
    }
}


/* header for tablet  */
@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .header h1 {
        font-size: 25px;
    }

    .nav-list {
        flex-direction: row;
        width: 100%;
        gap: 10px;
    }

    .nav-list a {
        width: 100%;
        text-align: center;
        font-size: small;
    }
}

/* banner section  */
.banner {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    gap: 20px;

}

.title h1 {
    width: 80%;
    font-size: 60px;
    font-weight: 900;
    color: #0c0804;
}

.title p {
    width: 90%;
    font-size: 18px;
    color: #424242;
}

.btn {
    background: #FF900E;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #d08513;
    color: #fff;
    box-shadow: 10px 5px 5px rgb(108, 105, 105);
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 30px;

}

@media screen and (max-width: 768px) {
    .banner {
        width: 80%;
        margin-top: -30px;
    }

    .title h1 {
        font-size: 30px;
    }

    .title p {
        font-size: 16px;
    }

    .image img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 479px) {
    .banner {
        width: 100%;
        margin-top: -30px;
        
    }
    .title {
        width: 100%;
        text-align: center;
        gap: 10px;
    }

    .title h1 {
        font-size: 23px;
    }

    .title p {
        font-size: 12px;
    }

    .image img {
        width: 80%;
        height: auto;
    }

    .btn {
        background: #FF900E;
        color: #fff;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 10px;
    }

    .btn:hover {
        background: #d08513;
        color: #fff;
        box-shadow: 4px 3px 5px rgb(108, 105, 105);
    }
}

/* banner section end  */
/* features section  */
.features-section {
    width: 80%;
    margin: 85px auto 130px auto;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
 .images {
    /* width: 100%; */
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    
    
}
.images img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.features{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.features h1 {
   
    font-size: 45px;
    color: #727272;
    font-weight: 900;
}
.features h1 :nth-child(1) {
    color: #131313;
}
.features h1 :nth-child(2) {
    color: #FF900E;
}
.features p {
    font-size: 18px;
    color: #727272;
    
}
/* laptop  */
@media screen and (max-width: 992px) {
    .features-section {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    .features {
        width: 100%;
        text-align: center;
    }

    .features h1 {
        font-size: 35px;
    }

    .images {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    
}
/* phone  */
@media screen and (max-width: 768px) {
    .features-section {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .features {
        width: 100%;
        text-align: center;
    }

    .features h1 {
        font-size: 30px;
    }

    .images {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media screen and (max-width: 479px) {
    .features-section {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .features {
        width: 100%;
        gap: 10px;
        text-align: center;
    }

    .features h1 {
        font-size: 25px;
    }

    .images {
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
    }
    
}

/* feature end  */



